# Motion Controller - Python Dependencies
# Install with: pip install -r requirements.txt


opencv-contrib-python>=4.8.0
mediapipe==0.10.11
protobuf==3.20.3
pandas>=2.0.0
scikit-learn==1.3.2
pydirectinput>=1.0.4
numpy==1.26.4
notebook
ipykernel
matplotlib
seaborn
customtkinter
Pillow
packaging
websockets
python-dotenv

# Deep Learning (for 1D-CNN)
torch>=2.0.0
